.navbar {
  width: 100%;
  height: 10vh;
  background: #e81717;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;

  &-heading {
    h1 {
      margin-left: 20px;
      font-size: 30px;

      span {
        color: #f1a20f;
      }
    }
  }

  &-links {
    ul {
      display: flex;
      list-style: none;
    }

    a {
      color: #ffff;
      text-decoration: none;
      margin: 0px 10px;
      padding: 5px;
      border-radius: 2px;
      transition: all 0.4s ease;
      background-color: #e81717;
      font-size: 16px;
      padding: 0.5em 1em 0.5em 1em;

      &:hover {
        color: #f1a20f;
      }
    }
  }
}
